// ::selection {
//     background-color: $clr1;
//     color: $clr3;
// }

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	// background-color: $clr2;
}
html {
	margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
	margin: 0;
}

ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

img {
	padding: 0;
}

p {
	margin: 0;
}
