// ::selection {
//     background-color: $clr1;
//     color: $clr3;
// }

* {
	box-sizing: border-box;
	margin: 0;
}

body {
	margin: 0;
	font-family: "Cereal-Book";
	color: $gray-1;
	height: max-content;
}
html {
	margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
	margin: 0;
	padding: 0;
}

ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

img {
	padding: 0;
}

p {
	margin: 0;
}

.rating {
	margin-top: 4px;
	color: $gray-3;
	align-items: center;
	gap: 10px;
}

.ratings {
	align-items: center;
}

.rate-icon {
	height: 13px;
	width: 13px;
	margin-right: 3px;
}
