.flex {
	display: flex;
}
// .flex .column{
// 	flex-direction: column;
// }
.flex.align {
	align-items: center;
}
.flex.start {
	align-items: start;
}
.flex.end {
	align-items: end;
}
.flex.just {
	justify-content: center;
}
.flex.space {
	justify-content: space-between;
}
.flex.even {
	justify-content: space-evenly;
}

.flex.col {
	flex-direction: column;
}

.flex.wrap {
	flex-wrap: wrap;
}

.flex.around {
	justify-content: space-around;
}
.txt-align {
	text-align: center;
}

.relative {
	position: relative;
}

.top-pad {
	padding-top: 160px;
}
