.main-layout {
	display: grid;
	grid-template-columns: $layoutPadding 1fr $layoutPadding;

	// @include for-narrow-layout {
	//     @include layoutGTC($break-narrow);
	// }

	@media (max-width:576px) {
		@include layoutSmallGTC($small);
	}
	@include for-md-layout {
		@include layoutSmallGTC($medium);
	}
	@include for-lg-layout {
		@include layoutSmallGTC($large);
	}
	@include for-xl-layout {
		@include layoutGTC($x-large);
	}
	// @include for-home-layout {
	// 	@include layoutGTC($home-page-large);
	// }

	// @media (min-width: 1460px) {
	// 	max-width: 1460px;
	// 	margin: 0 auto;
	// }

	> * {
		grid-column: 2;
	}

	> *.full {
		grid-column: 1 / -1;
	}

	// > *:not(.full) {
	// 	display: grid;
	// 	grid-auto-flow: dense;
	// 	grid-template-columns: repeat(6, 1fr);
	// }
}

.main-app {
	min-height: 90vh;
}

.details-layout {
	@include for-sm-layout {
		@include layoutSmallGTC($small);
	}
	@include for-md-layout {
		@include layoutSmallGTC($medium);
	}
	@include for-lg-layout {
		@include layoutGTC($large);
	}

	@media (min-width: 1120px) {
		max-width: 1120px;
		margin: 0 auto;
	}
}
