.main-header {
	background-color: $white;
	width: 100%;
	// position: fixed;
}

.header-content {
	// height: 80px;
}
.casa-symbol {
	font-size: 2.5rem;
}

.logo {
	color: $theme-red;
	width: 102px;
	height: 80px;
	font-family: Montserrat, 'Helvetica Neue', Helvetica;
	h2 {
		cursor: pointer;
	}

	// span{

	// }
}

.nav-bar {
	width: 340px;
	height: 80px;
	// background-color: blue;
	.explore-link {
		margin-left: 98px;
		height: 42px;
		width: 123px;
		border-radius: 22px;
		transition: 0.25s;
		cursor: pointer;
		a {
			text-decoration: none;
			font-family: roboto, arial, helvetica, sans-serif;
		}
		&:hover {
			background-color: darken($white, 3.5%);
		}
	}
}

.change {
	height: 80px;
	position: fixed;
}

.user-badge {
	width: 77px;
	height: 42px;
	background-color: white;
	border-radius: 21px;
	align-items: center;
	border: 1px solid #dddddd;
	cursor: pointer;

	.badge-image {
		border-radius: 50%;
		display: block;
		height: 30px;
		width: 30px;
		margin-right: 7px;
	}
	.badge-hamburger {
		font-weight: 600;
		margin-left: 12px;
	}
}
