.main-header {
	background-color: $white;
	width: 100%;
	// position: fixed;
}

.header-content {
	// height: 80px;
}

.logo {
	color: $theme-red;
	width: 102px;
	height: 80px;
}

.nav-bar {
	width: 356px;
	height: 80px;
	// background-color: blue;
}

.change {
	height: 80px;
	position: fixed;
}

.user-badge {
	width: 77px;
	height: 42px;
	background-color: white;
	border-radius: 21px;
	align-items: center;
	border: 1px solid #dddddd;
	cursor: pointer;

	.badge-image {
		border-radius: 50%;
		display: block;
		height: 30px;
		width: 30px;
		margin-right: 5px;
	}
	.badge-hamburger {
		font-weight: 600;
		margin-left: 10px;
	}
}
