.hero {
	background-image: url('https://res.cloudinary.com/cajan-22/image/upload/v1648589544/casaBnb/web-assets/oso9kjuhpitdex9io0pg.jpg');
	width: 100%;
	height: 80vh;
	background-size: cover;
	position: relative;

	.hero-phrase {
		// font-family: 'Circular-Light';
		// padding: 50vh 50vw 0 30vw;
		height: 500px;
		width:fit-content;
		// position: absolute;
		// transform: translate(-50%,-50%);
		position: absolute;
		bottom: -20%;
		left: 12.2%;
		// bottom:0;
	
		
		.phrase-top{
			position: absolute;
			line-height:50px;
			font-size: 70px;
			text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
			font-family: 'Circular-Book';
			font-size: 90px;
			color: $white;
		}

	}
}

.popular {
	padding-top: 96px;
	text-transform: capitalize;
	font-family: airbnb-regular, sans-serif;
	color: #222;
	font-size: 33px;
	font-weight: bold;
	.popular-list {
		display: grid;
		column-gap: 20px;
		grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
		padding-top: 50px;

		li {
			justify-self: center;
		}

		.popular-preview {
			cursor: pointer;
			p {
				height: max-content;
			}
			font-size: 22px;
			font-weight: normal;
			max-width: 40vh;
			img {
				width: 100%;
				border-radius: 10px;
				aspect-ratio: 1/1;
				-o-object-fit: cover;
				object-fit: cover;
			}
		}
	}
}
