.hero {
	background-image: url("https://res.cloudinary.com/cajan-22/image/upload/v1648589544/casaBnb/web-assets/oso9kjuhpitdex9io0pg.jpg");
	width: 100%;
	height: 80vh;
	// background-color: red;
	background-size: cover;
}

.popular {
	padding-top: 96px;
	text-transform: capitalize;
	font-family: airbnb-regular, sans-serif;
	color: #222;
	font-size: 33px;
	font-weight: bold;
	.popular-list {
		display: grid;
		column-gap: 20px;
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
		padding-top: 50px;
		padding-bottom: 50px;
	

		.popular-preview {
			cursor: pointer;
			p {
				height: max-content;
			}
			font-size: 22px;
			font-weight: normal;
			max-width: 40vh;
			img {
				width: 100%;
				border-radius: 10px;
				aspect-ratio: 1/1;
				-o-object-fit: cover;
				object-fit: cover;
			}
		}
	}
}
