.hero {
	background-image: url('https://res.cloudinary.com/cajan-22/image/upload/v1648589544/casaBnb/web-assets/oso9kjuhpitdex9io0pg.jpg');
	width: 100%;
	height: 80vh;
	background-size: cover;
	position: relative;
	margin-bottom: 64px;

	.hero-phrase {
		// font-family: 'Circular-Light';
		// padding: 50vh 50vw 0 30vw;
		height: 500px;
		width: fit-content;
		// position: absolute;
		// transform: translate(-50%,-50%);
		position: absolute;
		bottom: -20%;
		left: 20vw;
		// bottom:0;


		.phrase-top {
			position: absolute;
			line-height: 50px;
			font-size: 70px;
			text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
			font-family: 'Circular-Book';
			font-size: 90px;
			color: $white;
		}

	}
}

.popular {
	// padding-top: 96px;
	text-transform: capitalize;
	font-family: airbnb-regular, sans-serif;
	color: #222;
	font-size: 33px;
	font-weight: bold;
	// margin-bottom: 64px;
	p {
		margin-bottom: 28px;
		
	}

	.popular-list {
		display: grid;
		column-gap: 20px;
		grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));

		li {
			justify-self: center;
		}

		.popular-preview {
			cursor: pointer;
			margin-bottom: 64px;
			p {
				height: max-content;
				margin: 5px;
			}

			font-size: 22px;
			font-weight: normal;
			max-width: 40vh;

			img {
				width: 100%;
				border-radius: 10px;
				aspect-ratio: 1/1;
				-o-object-fit: cover;
				object-fit: cover;
			}
		}
	}
}



.home-bottom-image {
	background-image: url('@/assets/Images/logos/home-bottom-image.jpg');
	width: 100%;
	height: 80vh;
	background-size: cover;
	// background-repeat: no-repeat;
	// aspect-ratio: 1/1;
	// position: relative;
	border-radius: 18px;

	.home-bottom-phrase {
		margin-top: 220px;
		margin-left: 10%;
		width: 200px;
		height: fit-content;


		// position: absolute;
		bottom: 0;

		.phrase-bot {
			font-size: 60px;
			color: white;
			text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
			font-family: 'Circular-Book';

		}
	}
	.become-a-host-btn{
		margin-top:20px;
		margin-left: 10.3%;
		width: 150px;
		height: 80px;
		border-radius:12px;
		background-color: rgba(255, 255, 255, 0);
		border: 1px solid white;

		&:hover{
			background-color: rgba(255, 255, 255, 0.329);
			cursor: pointer;
		}

		p{
		font-family: 'Circular-Light';
		color: white;
		text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
		font-size:20px;
		}
	}
	
}