.stay-details {
	padding-top: 100px;
}

.details-grid {
	width: 100%;
	height: fit-content;
	display: grid;
	margin-bottom: 30px;
	// display: grid;
	grid-template-columns: 70% 30%;
	grid-template-rows: 65% 35%;
	grid-template-areas:
		'details checkout'
		'amenities checkout';

	box-shadow: inset 0 -0.5px 0 0 rgb(199, 199, 199);
	padding-bottom: 50px;
}

.checkout-container {
	position: relative;
	padding-top: 48px;
	width: 100%;

	grid-area: checkout;
}

.details-main-container {
	width: 100%;
	grid-area: details;
}

.main-inner-container {
	width: 80%;
}

.amenities-container {
	background-color: $white;
	width: 100%;
	height: fit-content;
	margin-top: 40px;
	grid-area: amenities;

	h2 {
		font-size: 24px;
		font-family: 'Circular-Light';
		font-weight: 700;
		margin-bottom: 24px;
		color: #222222;
	}

	.amenities-content {
		width: 100%;
		height: fit-content;
		background-color: $white;
		column-count: 2;
		margin: 0;
		.amenity {
			width: 100%;
			height: 40px;
			.amenity-info {
				flex-direction: start;
				width: 100%;
				p {
					font-size: 18px;
					font-family: 'Circular-Light';
					color: #222222;
				}
			}
		}
	}
}

@media (max-width: 780px) {
	.stay-details-img-container {
		display: none;
	}

}
@media (min-width: 780px) {
	// .stay-details-img-container {
	// 	display: none;
	// }
	.details-carousel-item{
		display: none;
	}

}

@media (min-width: 980px){
	.details-grid {
		grid-template-columns: 60% 35%;
		grid-template-rows: 65% 35%;
		
	}

	
	
}

@media (min-width: 1120px) {
	.details-grid {
		grid-template-columns: 65% 35%;
		grid-template-rows: 65% 35%;
	}
}

// @media (min-width: 1440px) {
// 	.details-grid {
// 		grid-template-columns: 65% 35%;
// 		grid-template-rows: 65% 35%;
// 	}
// }
