.container {
	max-width: 1120px;


}

.reservations-container {
	padding-top:50px;
}


small {
	font-size: 0.5em;
}

.table-container {

	border: 0.5px solid #cfcfcf7a;
	border-radius: 12px;
	margin-bottom: 90px;

	.header-container {
		height: 81px;
		border-radius: 12px 12px 0 0;
		background-color: #ff385c;

		text-transform: capitalize;


		.table-title {
			font-size: 26px;
			font-family: 'Circular-Light';
			color: #ffffff;
			padding: 25px;

			text-align: left;

		}
	}

	.responsive-table {

		background-color: #fff;
		border-radius: 0 0 12px 12px;
		width: 100%;

		li {

			padding: 10px;
			display: flex;
			height: max-content;

			margin-bottom: 5px;
		}


		.table-header {

			height: 40px;
			letter-spacing: 0.03em;
			padding-top: 15px;
			color: #000000;
			font-size: 14px;

		}

		.table-row {
			background-color: #ffffff;
			border-top: 1.5px solid rgba(206, 206, 206, 0.658);

			.reservation-status-sign {
				width: 100px;
				height: 23px;
				color: #ffffff;
				border-radius: 30px;
				display: flex;
				justify-content: center;
			}

			.stay-name {
				color: #239599;
			}

			.row-btns {
				display: flex;
				flex-direction: column;
				gap: 5px;

				button {
					height: 20px;
					font-family: "Cereal-Book";
					font-size: 16px;
					color: #239599;
					font-weight: 600;
					width: max-content;
					background-color: #fff;
					border: none;
					cursor: pointer;

					&:hover {
						color: #239599;
						border-bottom: 2px solid #239599;
					}
				}
			}

			.reservation-details {
				display: flex;
				flex-direction: column;
				gap: 5px;

				.stay-name {
					color: #000000
				}

				.reservations-dates {
					color: #000000;
					// align-self: center;
					// justify-self: center;
					// text-align: center;
				}

				img {
					width: 10px;
					height: 10px;
					margin: 0 10px;
				}

				p {
					color: #000000;
				}

				.reservations-total-price {
					font-size: 18px;
					color: #FF5A78;
					font-weight: bold;
				}
			}
		}

		.row-btns {

			a {
				color: #000000;
			}

			&:hover {
				cursor: pointer;
			}

			img {
				margin-right: 8px;
			}
		}



		.reservation-guest-name {
			color: #FF5A78;
		}

		.col-1 {
			flex-basis: 25%;
			padding-left: 50px;

		}

		.col-2 {
			flex-basis: 43%;
		}

		.col-3 {
			flex-basis: 17%;

			img {
				border-radius: 50%;
				width: 50px;
				height: 50px;
			}

			p {
				margin-top: 5px;
				// position: absolute;
				// bottom: -30px;
				// left: -19px;
			}
		}

		.col-4 {
			flex-basis: 20%;


		}

		@media all and (max-width: 767px) {
			.table-header {
				display: none;
			}

			.table-row {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				gap: 20px;

				.details {
					justify-content: center;
					align-items: center;

				}

				.row-btns {
					justify-content: center;
					align-items: center;
				}
			}

			li {
				height: fit-content;

				p {
					text-align: center;
				}
			}

			.col-1 {
				// flex-basis: 25%;
				// padding-left: 50px;
				padding-left: 0;
				justify-content: center;
				align-items: center;

			}


		}
	}

	@media all and (max-width: 767px) {
		.table-title {
			// text-align:center;
			padding-left: 0px;
		}
	}
}