.container {
	max-width: 1120px;
	// margin-left: auto;
	// margin-right: auto;
	// padding-left: 10px;
	// padding-right: 10px;

}

// h2 {
// 	font-size: 26px;
// 	font-family: 'Circular-Light';
//     color: #ffffff;
// 	margin: 20px 0;
// 	padding-left: 30px;
// 	text-align:left;
// 	small {
// 		font-size: 0.5em;
small {
	font-size: 0.5em;
}

// 	}
// }
.table-container {
	// background-color: #ff385c;
	border: 0.5px solid #cfcfcfaf;
	border-radius: 12px;

	.header-container {
		height: 81px;
		border-radius: 12px 12px 0 0 ;
		background-color: #ff385c;

		.table-title {
			font-size: 26px;
			font-family: 'Circular-Light';
			color: #ffffff;
			padding: 25px;
			// margin: 20px 0 20px -5px;
			// padding-left: 30px;
			// padding: 25px;
			text-align: left;

		}
	}



	.responsive-table {
		// padding: 20px;
		background-color: #fff;
		border-radius: 0 0 12px 12px;
		width: 100%;

		li {
			// border-radius: 5px;
			padding: 10px;
			display: flex;
			// justify-content: space-between;
			height: max-content;
			// align-items: flex-end;
			margin-bottom: 5px;
		}

		// .table-title{
		// 	margin-right: 32px;

		// }
		.table-header {
			// background-color: #a0a0a0;
			height: 40px;
			color: #000000;
			font-size: 14px;
			font-weight: bold;
			letter-spacing: 0.03em;
			padding-top: 15px;
			// text-transform: uppercase;
			// border-bottom:1.5px solid rgb(206, 206, 206) ;

		}

		.table-row {
			align-items: flex-start;
			background-color: #ffffff;
			border-top: 1.5px solid rgb(206, 206, 206);
			font-weight: 600;

			// box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
			.stay-name {
				color: #239599;
			}

			.row-btns {
				display: flex;
				flex-direction: column;
				gap: 5px;

				button {
					height: 20px;
					font-family: "Cereal-Book";
					font-size: 16px;
					color: #239599;
					font-weight: 600;
					width: max-content;
					background-color: #fff;
					border: none;
					cursor: pointer;

					&:hover {
						color: #239599;
						border-bottom: 2px solid #239599;
					}
				}
			}

			.details {
				display: flex;
				flex-direction: column;
				gap: 5px;
			}
		}

		.col-1 {
			flex-basis: 20%;
			font-weight: bold;
			padding-left: 59px;

		}

		.col-2 {
			flex-basis: 38%;
		}

		.col-3 {
			flex-basis: 25%;
			text-transform: capitalize;

			// display: flex;
			// align-items: center;
			// gap: 5px;
			img {
				border-radius: 50%;
				width: 50px;
				height: 50px;
			}

			p {
				position: absolute;
				bottom: -30px;
				left: -19px;
			}
		}

		.col-4 {
			flex-basis: 15%;

			
		}

		@media all and (max-width: 767px) {
			.table-header {
				display: none;
			}

			.table-row {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				gap: 20px;

				.details {
					justify-content: center;
					align-items: center;
				}

				// .row-btns {
				// 	justify-content: center;
				// 	align-items: center;
				// }
			}

			li {
				height: fit-content;

				p {
					text-align: center;
				}
			}

		
		}
	}

	@media all and (max-width: 767px) {
		.table-title {
			// text-align:center;
			padding-left: 0px;
		}
	}
}