@font-face {
    font-family: 'Circular-Light';
    src: url('@/assets/fonts/Circular/CircularStd-Light.otf');
}

@font-face {
    font-family: 'Circular-Book';
    src: url('@/assets/fonts/Circular/CircularStd-Book.otf')
}

@font-face {
    font-family: 'Circular-Medium';
    src: url('@/assets/fonts/Circular/CircularStd-Medium.otf');
}

@font-face {
    font-family: 'Circular-Bold';
    src: url('@/assets/fonts/Circular/CircularStd-Bold.otf');
}

@font-face {
    font-family: 'Circular-Black';
    src: url('./../../fonts/Circular/CircularStd-Black.otf');
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('./../../fonts/Montserrat/Montserrat-Regular.ttf');
}
  
@font-face {
    font-family: 'Montserrat-Bold';
    src: url('./../../fonts/Montserrat/Montserrat-Bold.ttf');
}
  
@font-face {
    font-family: 'Playfair-Regular';
    src: url('./../../fonts/playfair/PlayfairDisplay-Regular.ttf');
}
  
@font-face {
    font-family: 'Playfair-Bold';
    src: url('./../../fonts/playfair/PlayfairDisplay-Bold.ttf');
}
  
@font-face {
    font-family: 'Lato-Regular';
    src: url('./../../fonts/Lato/Lato-Regular.ttf');
}
  
@font-face {
    font-family: 'Lato-Bold';
    src: url('./../../fonts/lato/Lato-Bold.ttf');
}
  
@font-face {
    font-family: 'Roboto-Regular';
    src: url('./../../fonts/Roboto/Roboto-Regular.ttf');
}
  
@font-face {
    font-family: 'Roboto-Bold';
    src: url('./../../fonts/Roboto/Roboto-Bold.ttf');
}
  
@font-face {
    font-family: 'Roboto-Medium';
    src: url('./../../fonts/Roboto/Roboto-Medium.ttf');
}

