.stay-details-img-container {
    padding-top: 24px;
    border-radius: 12px;
    margin-bottom: 8px;
  }
    
  /* ._z80d2i */
  .gallery-imgs-container {
    display: grid;
    max-height: 50vh;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 50% 50%;
    grid-gap: 8px;
  }
  
  /* @media (min-width: 744px)
  ._88xxct {
      display: block !important;
  } */
  
  .gallery-img {
    cursor: pointer;
    opacity: 1;
    transition: filter 0.4s ease-in-out;
    object-fit: cover;
    vertical-align: bottom;
    width: 100%;
    height: 100%;
  }


  .gallery-img:hover {
    /* background: rgba(0, 0, 0, 0.5) */
    /* background-color: hwb(0 0% 100% / 0.664); */
    // opacity: 0.7;
    filter:brightness(80%);
    // filter:contrast(50%);
    // filter: drop-shadow(100%);
    // filter:grayscale(30%);
    // filter:blur(30%);
  }
  
  .img-card-0 {
    grid-column: 1;
    grid-row: 1/3;
    border-radius: 12px 0 0 12px;
  }
  
  .img-card-2 {
    border-radius: 0 12px 0 0;
  }
  
  .img-card-4 {
    border-radius: 0 0 12px 0;
  }
  
  /* img {
      font-size: inherit !important;
      font-family: inherit !important;
      font-weight: inherit !important;
      font-style: inherit !important;
      font-variant: inherit !important;
      line-height: inherit !important;
      color: inherit !important;
      text-decoration: underline !important;
      display: block !important;
      height: 100% !important;
      position: relative !important;
      width: 100% !important;
      -webkit-tap-highlight-color: transparent !important;
      outline: none !important;
      } */
  
  