.main-header {
	background-color: rgba(255, 255, 255, 0);
	width: 100%;
	position: fixed;
	transition: 0.3s;
	z-index: 100 !important;

	// opacity: 0;
}

.header-content {
	// height: 80px;
}
.casa-symbol {
	font-size: 2.7rem;
}

.logo {
	// flex-direction: start;
	color: $theme-red;
	width: 120px;
	height: 70px;
	// font-family: Montserrat, 'Helvetica Neue', Helvetica;

	a {
		text-decoration: none;
		color: $white;
		text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
		transition: 0.4s;
	}

	.color-theme {
		color: $theme-red;
		text-shadow: none;
	}

	h2 {
		cursor: pointer;
	}

	// span{

	// }
}

.nav-bar {
	width: 380px;
	height: 80px;

	.explore-link {
		height: 42px;
		width: 123px;
		border-radius: 22px;
		transition: 0.25s;
		margin-left: 25px;
		cursor: pointer;

		a {
			text-decoration: none;
			font-family: roboto, arial, helvetica, sans-serif;
			// text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
			color: $white;
			transition: 0.3s;
		}
		.color-black {
			color: black;
		}

		&:hover {
			background-color: darken(rgba(255, 255, 255, 0.288), 3.5%);
		}
	}
	.host-link {
		height: 42px;
		width: 132px;
		border-radius: 22px;
		transition: 0.25s;
		cursor: pointer;
		a {
			text-decoration: none;
			font-family: roboto, arial, helvetica, sans-serif;
			// text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
			color: $white;
			transition: 0.3s;
		}
		.color-black {
			color: black;
		}

		&:hover {
			background-color: darken(rgba(255, 255, 255, 0.288), 3.5%);
		}
	}
}

.change {
	height: 80px;
	position: fixed;
}

.user-badge {
	width: 77px;
	height: 42px;
	background-color: white;
	border-radius: 21px;
	align-items: center;
	border: 1px solid #dddddd;
	cursor: pointer;

	.badge-image {
		border-radius: 50%;
		display: block;
		height: 30px;
		width: 30px;
		margin-right: 7px;
	}
	.badge-hamburger {
		font-weight: 600;
		margin-left: 12px;
	}
}

.visible {
	background-color: $white;
	// border-bottom: 1px solid rgba(0, 0, 0, 0.158);
}

.user-menu-sec {
	font-family: airbnb-regular, sans-serif;
	font-size: 15px;
	color: #222;
	z-index: 2000;
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 70px;
	right: 80px;
	background-color: #fff;
	border-radius: 12px;
	width: 240px;
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.18);

	.guest-user-info,
	.reg-user-actions {
		margin: 8px 0;
	}

	.guest-user-actions,
	.reg-host-actions,
	.reg-user-info {
		margin-top: 8px;
		padding-bottom: 8px;
		border-bottom: 1px solid #dddddd;
	}

	// .reg-user-actions {
	// 	margin: 8px 0;
	// }

	.label {
		cursor: pointer;
		padding: 15px 20px;

		&:hover {
			// color: red;
			background-color: rgb(248, 246, 246);
		}
	}

	.sign-up {
		font-family: airbnb-light, sans-serif;
		font-weight: 600;
	}
}

.login-modal-container {
	font-family: airbnb-light, sans-serif;
	position: fixed;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	background-color: rgba(97, 96, 96, 0.616);
	width: 100%;
	height: 100%;
	z-index: 100;

	.login-modal {
		background-color: rgb(255, 255, 255);
		width: 60%;
		max-width: 570px;
		height: 40%;
		// position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		-webkit-box-direction: normal !important;
		-webkit-box-orient: vertical !important;
		position: relative !important;
		display: flex !important;
		// align-items: center;
		// justify-content: center;
		flex-direction: column !important;
		box-shadow: rgba(0, 0, 0, 0.28) 0px 8px 28px !important;
		border-radius: 12px !important;
		border-top-right-radius: 12px !important;

		header {
			// font-family: airbnb-light, sans-serif;
			min-height: 48px;
			padding: 0 24px;
			align-items: center;
			text-align: center;
			align-content: center;
			justify-content: center;
			justify-items: center;
			// text-justify: auto;
			// padding-bottom: 20px;
			font-family: cereal-bold, sans-serif;
			font-size: 16px;
			line-height: 20px;
			font-weight: 800;
			border-bottom: 1px solid rgb(235, 235, 235);

			.login-header {
				display: flex;
				width: 500px;
				height: 64px;
				justify-content: center;
				align-items: center;
				text-align: center;
				text-justify: auto;
			}
		}

		form {
			padding: 24px;

			h1 {
				margin: 8px 0 24px 0;
				font-size: 22px;
				line-height: 26px;
				font-weight: 600;
			}

			.input-main-container {
				border-radius: 12px;
				border: 1px solid rgb(235, 235, 235);

				.username-con{
					border-bottom: 1px solid rgb(235, 235, 235);
				}

				.input-container {
					padding: 10px 20px;

					&:hover {
						cursor: pointer;
					}
					
					label {
						font-family: circular-bold;
						font-size: 14px;
						font-weight: 800;
						line-height: 18px;
					}
			

					input {
						border: none;
					}
				}
			}

			button {
				position: relative;
				appearance: none;
				background: #f72359;
				padding: 1em 2em;
				border: none;
				color: white;
				font-size: 1.2em;
				cursor: pointer;
				outline: none;
				overflow: hidden;
				border-radius: 100px;
				span {
					position: relative;
				}
				&::before {
					--size: 0;
					content: "";
					position: absolute;
					left: var(--x);
					top: var(--y);
					width: var(--size);
					height: var(--size);
					background: radial-gradient(circle closest-side, #ffffff, transparent);
					transform: translate(-50%, -50%);
					transition: width 0.2s ease, height 0.2s ease;
				}
				&:hover::before {
					--size: 400px;
				}
			}
		}
	}
}
