.signup-modal {
	background-color: rgb(255, 255, 255);
	width: 60%;
	max-width: 570px;
	height: 430px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: fixed;
	box-shadow: rgba(0, 0, 0, 0.28) 0px 8px 28px !important;
	border-radius: 12px;

	header {
		height: 64px;
		border-bottom: 1px solid rgb(235, 235, 235);
	}

	form {
		padding: 24px;

		h1 {
			margin: 8px 0 24px 0;
			font-size: 22px;
			line-height: 26px;
			font-weight: 600;
		}

		.input-main-container {
			border-radius: 12px;
			border: 1px solid rgb(235, 235, 235);
			width: 100%;

			.username-con {
				border-bottom: 1px solid rgb(235, 235, 235);
			}

			.input-container {
				padding: 10px 20px;
				// width: 100%;

				&:hover {
					cursor: pointer;
				}

				label {
					font-family: circular-bold;
					font-size: 14px;
					font-weight: 800;
					line-height: 18px;
				}
				input {
					border: none;
					height: 30px;
					outline: none;
				}
			}
		}
	}
	.buttons-container {
		margin: 20px 0;
		width: 100%;
		button {
			background: #f72359;
			padding: 1em 2em;
			border: none;
			color: white;
			font-size: 1.2em;
			cursor: pointer;
			outline: none;
			overflow: hidden;
			border-radius: 10px;
			z-index: 200;
			width: 100%;
		}
	}
}

.login-modal {
	background-color: rgb(255, 255, 255);
	width: 60%;
	max-width: 570px;
	height: 650px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	position: fixed;

	box-shadow: rgba(0, 0, 0, 0.28) 0px 8px 28px ;
	border-radius: 12px;

	header {
		height: 64px;
		border-bottom: 1px solid rgb(235, 235, 235);
	}

	form {
		padding: 24px;

		h1 {
			margin: 8px 0 24px 0;
			font-size: 22px;
			line-height: 26px;
			font-weight: 600;
		}

		.input-main-container {
			border-radius: 12px;
			border: 1px solid rgb(235, 235, 235);

			.username-con {
				border-bottom: 1px solid rgb(235, 235, 235);
			}

			.input-container {
				padding: 10px 20px;

				&:hover {
					cursor: pointer;
				}

				label {
					font-family: circular-bold;
					font-size: 14px;
					font-weight: 800;
					line-height: 18px;
				}
				input {
					border: none;
					height: 30px;
					outline: none;
				}
			}
		}
		.buttons-container {
			margin: 20px 0;
			button {
				background: #f72359;
				padding: 1em 2em;
				border: none;
				color: white;
				font-size: 1.2em;
				cursor: pointer;
				outline: none;
				overflow: hidden;
				border-radius: 10px;
				z-index: 200;
			}
		}
	}
}
