.guests-input-modal {
	position: absolute;
	z-index: 10;
	padding: 32px 32px 32px 32px;
	width: 375px;
	height: 300px;
	background-color: $white;
	border-radius: 15px;
	border: 1px solid rgba(0, 0, 0, 0.158);
	transform: translate(0%, 0%);
	top: 80px;
	left: -25px;
	&:hover{
		cursor: default;
	}

	hr {
		color: red;
	}

	.btn-round {
		width: 35px;
		height: 35px;
		border-radius: 50%;
		font-size: 16px;
		font-weight: bold;
		background-color: $white;
		color: #8f8d8d;
		border: 0.5px solid #8f8d8d;
		transition: 0.2s;
		

		&:hover {
			cursor: pointer;
			color: #615f5f;
			border: 0.5px solid #615f5f;
		}
	}
	div {
		font-size: 16px;
	}
	.guests-details {
		// padding-top:30px;
		width: 300px;
		height: 50px;
	}
	.guests-buttons {
		width: 104px;
	}
}


// .stay-search-position{
// 	top: 100px;
// 	right: 200px;
// }