.guests-input-modal {
	// margin-top: 200px;
	position: absolute;
	top: 160px;
	right: 260px;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 375px;
	height: 364px;
	background-color: $white;
	border-radius: 50px;
	border: 1px solid rgba(0, 0, 0, 0.158);


	button {
		width: 30px;
		height: 30px;
		border-radius: 50px;
		font-size: 16px;
		font-weight: bold;
	}
	div {
		font-size: 16px;
	}
	.guests-details{
		// padding-top:30px;
		width: 300px;
		height: 50px;
		
	}
	.guests-buttons{
		width: 104px;	
	}
}