.main-footer {
	// width: 100%;
	height: 8vh;
	margin-top:48px;
	border-top: 0.5px solid rgba(206, 206, 206, 0.445);
	// width: 100%;
	// background-color:lightblue;

	div{
		// height: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	// background-color:red;
	.left-footer-container{
		height: 100%;
		width: 400px;
	}
	p{
		// display: inline;
		// vertical-align: middle;
		// line-height: 20px;
	}
}
