.filter {
	height: 66px;
	width: 850px;
	background-color: $white;
	border-radius: 32px;
	display: flex;
	justify-content: space-between;
	// position: absolute;
	left: 100px;
	font-family: 'Circular-Light';
	font-size: 14px;
	border: 1px solid rgba(0, 0, 0, 0.158);
	margin-top: 10px;
	margin-bottom: 26px;
}

.search-container {
	position: relative;
	// width: 270px;
	height: 64px;
	background-color: $white;
	border-radius: 32px 32px 32px 32px;
	background-color: $white;
	&:hover {
		background-color: darken($white, 4%);
		cursor: pointer;
	}
	&:hover .search-input {
		background-color: darken($white, 4%);
	}

	span {
		position: absolute;
		left: 32px;
		top: 12px;
		font-weight: 700;
	}

	.search-input {
		width: 200px;
		height: 28px;
		position: absolute;
		left: 30px;
		bottom: 8px;
		border: none;
		outline: none;
	}
}

.search-guests {
	display: flex;
	align-items: center;
	width: 230px;
	height: 64px;
	background-color: $white;
	border-radius: 32px 32px 32px 32px;
	&:hover {
		background-color: darken($white, 5%);
		cursor: pointer;
	}
	&:hover .guests-container {
		background-color: darken($white, 5%);
	}

	.guests-container {
		position: relative;
		background-color: $white;
		width: 170px;
		height: 64px;
		border-radius: 32px 0 0 32px;

		&:hover {
			background-color: darken($white, 5%);
			cursor: pointer;
		}

		span {
			position: absolute;
			left: 32px;
			top: 12px;
			font-weight: 700;
		}
		p {
			position: absolute;
			left: 32px;
			bottom: 8px;
		}
		.guests-input-modal {
			margin-top: 70px;
			position: absolute;
			width: 175px;
			height: 50px;
			background-color: $white;
			border-radius: 50px;

			button {
				width: 30px;
				height: 30px;
				border-radius: 50px;
				font-size: 16px;
				font-weight: bold;
			}
			div {
				font-size: 16px;
			}
		}
	}
}
.search-btn-container {
	align-self: center;
	border-radius: 50px;
	background-color: $theme-red;
	width: 49px;
	height: 49px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-right: 10px;
	transition: 0.05s;
	cursor: pointer;

	&:hover {
		background-color: $theme-hover;
	}

	&:hover .search-guests {
		background-color: darken($white, 5%);
		cursor: pointer;
	}
	p {
		color: $white;
		font-family: 'Circular-Bold';
		font-size: 16px;
		margin-right: 4px;
		// transition-delay: 1s;
		// transition: 1s;
	}
	img {
		height: 30px;
		width: 30px;
	}
}

.date-start {
	background-color: $white;
	width: 178px;
	height: 64px;
	border-radius: 32px 32px 32px 32px;
	position: relative;
	span {
		position: absolute;
		left: 32px;
		top: 12px;
		font-weight: 700;
	}
	p {
		position: absolute;
		left: 32px;
		bottom: 8px;
	}
	&:hover {
		background-color: darken($white, 5%);
		cursor: pointer;
	}
}

.date-end {
	background-color: $white;
	width: 178px;
	height: 64px;
	border-radius: 32px 32px 32px 32px;
	position: relative;
	span {
		position: absolute;
		left: 32px;
		top: 12px;
		font-weight: 700;
	}
	p {
		position: absolute;
		left: 32px;
		bottom: 8px;
	}
	&:hover {
		background-color: darken($white, 5%);
		cursor: pointer;
	}
}

.date-picker {
	margin-top: 100px;
	position: absolute;
	margin-top: 400px;
}

// DATEPICKER

.el-date-range-picker__content {
	border-radius: 25px;

	height: 350px;
	width: 350px !important;
	border: none !important;
}

.el-popper {
	border-radius: 25px !important;
}
.el-picker-panel {
	background: white !important;
	border-radius: 25px !important;
	width: 700px !important;
}
.el-picker-panel_body {
	background: white !important;
	border-radius: 25px !important;
	width: 300px !important;
}
.el-popper {
	// margin-top: 200px;
	position: fixed !important;
	top: 39% !important;
	left: 50% !important;
	transform: translate(-50%, -40%) !important;
	// height: 33% !important;
	// margin: 0 auto;
	// transform: translate(50%, 50%) !important;
	// left: 50% !important;
	// top: 50% !important;
}
.el-popper[data-popper-placement^='bottom'] > .el-popper__arrow {
	display: none !important;
}
.el-range-editor {
	display: none !important;
}
.el-date-table td.start-date .el-date-table-cell__text {
	background-color: black !important;
}
.el-date-table td.end-date .el-date-table-cell__text {
	background-color: black !important;
}
.el-date-table td.today .el-date-table-cell__text {
	color: #020202 !important;
}
.el-date-table td.in-range .el-date-table-cell {
	background-color: rgb(235, 235, 235);
}
