// .stay-preview {
//     display: grid;
//     grid-template-columns: 100%;
//     isolation: isolate;
// }

.stay-preview {
	height: 365px;
    font-size: 1rem;
	padding: 0;
	border-radius: 10px;
	font-family: 'Cereal-Book';

	.preview-data {
		// height: 100px;
	}
}

.stay-images-container{
margin-bottom: 10px;
}

.preview-data{
    .rating{ 
        margin:0 0 6px 0;
        font-size: 14px;
        line-height: 18px;
        
        span{
            font-weight: 100;
        }

        .span-main-prev-rating{
            -webkit-box-align: center;

            .img{
                margin-right: 4px;
            }

            .reviews-count{
                color: $gray-1;
            }
        }
        
    }
.stay-loc{
    margin:0 0 2px 0;
    font-size: 18px;
    line-height: 24px;
    }
}
    
.img-in-card {
	object-fit: cover;
	width: 100%;
	height:100%
}

.img-container {
	border-radius: 10px;
}

.stay-images-container{
    margin-bottom: 12px;
    
}

.preview-data{
    height: 100%
}

.stay-price{
    font-family: "Circular-Bold";
    font-weight: 700;
}


.el-carousel__button {
height: 6px !important;
border-radius: 50% !important;
width: 6px !important;
}