.stay-filter {
    z-index: 10 !important;
    // padding: 8px 24px 12px !important;
    // left: 0px !important;
    // right: 0px !important;
    position: fixed;
    margin-top: 80px;
    width: 100%;
    height: 50px;
    z-index: 3;
    background-color: #fff;
    display:flex;
    gap: 5px;

    button{
        cursor: pointer !important;
        text-align: center !important;
        border: 1px solid rgb(221, 221, 221) !important;
        background-color: rgb(255, 255, 255) !important;
        outline: none !important;
        margin: 0px !important;
        color: rgb(34, 34, 34) !important;
        font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
        position: relative !important;
        transition-property: -ms-transform, -webkit-transform, transform, background-color, border-color !important;
        transition-duration: 0.15s !important;
        transition-timing-function: ease-in-out !important;
        padding: 10px 16px !important;
        border-radius: 30px !important;
        font-size: 12px !important;
        line-height: 16px !important;
        // width: 100% !important;
        width: max-content;
        &:hover {
            border: 1px solid rgb(0, 0, 0) !important;
        }
    }
}

.price-modal{
    position: fixed;
    // top:30px;
    // padding-top: 300px;
    margin-top:300px;
    z-index: 3;
    background-color: white;
    border-radius: 8px 8px 0 0;
    width: 30vh;
    height: 20vh;
}
