.stay-filter {
    z-index: 10 !important ;
    position: fixed;
    margin-top: 80px;
    width: 100%;
    height: 50px;
    z-index: 99 !important;
    background-color: #fff;
    display: flex;
    gap: 5px;

    .active-btn {
        background-color: #f7f7f7;
        border: 1px solid rgb(0, 0, 0);
    }

    button {
        cursor: pointer;
        text-align: center;
        border: 1px solid rgb(221, 221, 221);
        background-color: rgb(255, 255, 255);
        outline: none;
        margin: 0px;
        color: rgb(34, 34, 34);
        font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
        position: relative;
        transition-property: -ms-transform, -webkit-transform, transform, background-color, border-color;
        transition-duration: 0.15s;
        transition-timing-function: ease-in-out;
        padding: 10px 16px;
        border-radius: 30px;
        font-size: 12px;
        line-height: 16px;
        // width: 100% ;
        
        width: max-content;
        &:hover {
            border: 1px solid rgb(0, 0, 0);
        }
    }
    .price-btn-container{

        img{
            width: 10px;
            height: 10px;
            align-self: center;
            justify-self: center;
        }
    }
}

.flip{
    transform: rotate(180deg);
    // background-color: red;
}


.price-modal {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 300px;
    z-index: 3;
    background-color: white;
    border-radius: 12px;
    width: 30vh;
    min-width: 320px;
    height: 20vh;
    min-height: 200px;
    border: 0.5px solid rgba(118, 118, 118, 0.28);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 37px;

    // position: absolute !important;
    // display: inline-block !important;
    // top: 54px !important;
    // z-index: 2001 !important;
    // background: rgb(255, 255, 255) !important;
    // border: 0.5px solid rgba(118, 118, 118, 0.28) !important;
    // border-radius: 12px !important;
    // box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 37px !important;
    // overflow: hidden !important;
    // max-width: 800px !important;
    // white-space: normal !important;
    // visibility: visible !important;
    // left: 0px !important;
    // right: auto !important;


    // max-width: 760px !important;
    // overflow: auto !important;

    // @media only screen and (max-width: 1260px) {
    //     max-height: 420px !important;
    // }

    // @media only screen and (max-width: 1100px) {
    //     max-height: 360px !important;
    // }

    .price-modal-btns {
        padding: 10px;
        display: flex;
        gap: 180px;
        border-top: 1px solid rgb(235, 235, 235);

        button {
            cursor: pointer;
            display: inline-block;
            margin: 0px;
            position: relative;
            text-align: center;
            text-decoration: none;
            width: auto;
            touch-action: manipulation;
            font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
            font-size: 14px;
            line-height: 18px;
            font-weight: 600;
            border-radius: 8px;
            outline: none;
            padding: 8px 16px;
            transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s,
                transform 0.1s ease 0s;
            -webkit-tap-highlight-color: transparent;
            border: none;
            background: rgb(34, 34, 34);
            color: rgb(255, 255, 255);
            &:hover {
                border: none !important;
                background: rgb(0, 0, 0) !important;
                color: rgb(255, 255, 255) !important;
            }
        }
    }
}
