.stay-filter {
    padding-top: 400px;
    width: 400px;
    height: 100px;
}

.price-modal{
    position: fixed;
    // top:30px;
    // padding-top: 400px;
    z-index: 3;
    background-color: white;
    border-radius: 8px 8px 0 0;
    width: 90vh;
    height: 20vh;
}
