.stay-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	grid-gap: 24px;
	justify-content: space-between;
	// padding-top: 160px;
	color: $gray-3;
}


.stay-list-container{
	margin-top: 150px;
	.stays-to-show{
			// z-index: 10000;
			color: black;
			font-size:14px;
			padding-bottom:20px;
			padding-left: 10px;
			font-family: 'Circular-Light';
	}

	
}