.stay-preview {
    // height: 365px;
    font-size: 1rem;
    padding: 0;
    border-radius: 10px;
    font-family: 'Cereal-Book';

    .stay-images-container {
        margin-bottom: 10px;
    }

    .preview-data {
        height: 100%;


        p {
            // height: 20px;
            font-size: 18px;
            line-height: 24px;
            font-weight: 400;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .rating {
            margin: 0 0 6px 0;
            font-size: 14px;
            line-height: 18px;

            .rate-icon {
                height: 14px;
                width: 14px;
            }

            span {
                font-weight: 100;
            }

            .span-main-prev-rating {
                -webkit-box-align: center;

                .img {
                    margin-right: 4px;
                    width: 100%;
                    height: 100%;
                }

                .reviews-count {
                    color: $gray-1;
                }
            }

        }

        .stay-loc {
            margin: 0 0 2px 0;
            font-size: 18px;
            line-height: 24px;
        }

        .preview-stay-title {
            margin: 0;
            font-size: 16px;
            line-height: 20px;
        }

        .stay-price {
            margin-top: 8px;
            font-family: "Circular-Bold";
            font-weight: 800;
        }

    }

}




.img-in-card {
    object-fit: cover;
    width: 100%;
    height: 100%;

}

.img-container {
    border-radius: 10px;
}

.stay-images-container {
    margin-bottom: 12px;

}

.preview-data {
    height: 100%
}

.stay-price {
    font-family: "Circular-Bold";
    font-weight: 700;
}

// .el-carousel__container{
//     aspect-ratio: 1.5/1;

// }

// .el-carousel__item{

//     img{
//         width: 100%;
//         border-radius: 10px;
//         aspect-ratio: 1/1.2;
//         -o-object-fit: cover;
//         object-fit: cover;
//     }
// }


.el-carousel__button {
    height: 6px !important;
    border-radius: 50% !important;
    width: 6px !important;
}