
.details-main-container {
  align-items: stretch !important;
  width: 100% !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.stay-details {
  padding-top: 150px;
}

.stay-details-header{
    padding-top: 24px;
  }
  