// DATEPICKER
// #picker{
.el-date-range-picker__content {
	border-radius: 25px;

	height: 350px;
	width: 350px !important;
	border: none !important;
}

.el-picker-panel {
	background: white !important;
	border-radius: 25px !important;
	width: 700px !important;
}
.el-picker-panel_body {
	background: white !important;
	border-radius: 25px !important;
	width: 300px !important;
}
.el-popper {
	top: 340px !important;
	left: 50% !important;
	transform: translate(-50%, -50%) !important;
	position: fixed !important;
	border-radius: 25px !important;
}
.el-popper[data-popper-placement^='bottom'] > .el-popper__arrow {
	display: none !important;
}
.el-range-editor {
	// display: !important;
	// position: relative !important;
	z-index: -110 !important;
	width: 0 !important;
	height: 0 !important;
	visibility: hidden !important;
	opacity: 0;
}
.el-date-table td.start-date .el-date-table-cell__text {
	background-color: black !important;
}
.el-date-table td.end-date .el-date-table-cell__text {
	background-color: black !important;
}
.el-date-table td.today .el-date-table-cell__text {
	color: #020202 !important;
}
.el-date-table td.in-range .el-date-table-cell {
	background-color: rgb(235, 235, 235);
}

.el-popper-order {
	transform: translate(-50%, -50%) !important;
	top: 175px !important;
	left: -300px !important;
	position: absolute !important;
	// position: sticky !important;
}
