.mobile-footer {
	position: fixed;
	background-color: lightblue;
	width: 100%;
	height: 70px;
	bottom: 0;
	z-index: 100;
	background-color: $white;
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.164);

	img {
		width: 30px;
		height: 30px;
	}
	p {
		font-size: 10px;
		// font-weight: 600;
		font-family: 'Circular-Bold';
	}
	.mobile-footer-icon {
		height: 50px;

		span{
			font-size:36px;
			margin: 0;
			padding: 0;
		}
		&:hover {
			cursor: pointer;
		}
	}
	.mobile-icons-container {
		width: 300px;
		position: relative;
	}
	
	.mobile-footer-home-icon {
		position: absolute;
			height: 50px;
			transform:translate(-50%,-50%);
			top: 34%;
			left: 50%;

		span{
			font-size:36px;
			margin: 0;
			padding: 0;
			color: #cdc6c6;
		}
		&:hover {
			cursor: pointer;
		}
	}
}

@media (max-width: 780px) {
	.main-footer {
		display: none;
	}
    .mobile-footer {
		// display: inline-block;
	}
}

@media (min-width: 780px) {
	.main-footer {
		display: inline;
	}
	.mobile-footer {
		display: none;
	}
}
