// .slider-demo-block {
// 	display: flex;
// 	align-items: center;
// 	width: 120px;
// 	/* background-color: red !important; */
// }
// .slider-demo-block .el-slider {
// 	margin-top: 0;
// 	margin-left: 12px;
// }
// .irs-to {
// 	background-color: black !important;
// }
// .irs-bar {
// 	background-color: black !important;
// //   color: red !important;
// }
// .irs-form {
// 	background-color: black !important;
// }

.price-modal{
    // position: absolute;
    top: -150px;
    width: 450px;
    height: 250px;
    // background-color: rgb(151, 151, 151);
}
.price-modal-btns{
    button{
        background-color:rgba(0, 0, 0, 0.863) !important;
    }
}

// .irs-handle{
//     border: 0.5 solid rgb(163, 163, 163) !important;
// }

// .vue-histogram-slider-bar-vue-histogram-b81d762b-d7ea-47b2-865e-9be166756282{
//     rect{
//         fill: black !important;
//         background-color: black;
//     }
// }