.reservation-confirm-modal {
    box-sizing: content-box;
    background-color: rgb(255, 255, 255);
    width: 540px;
    max-width: 570px;
    // height: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    box-shadow: rgba(0, 0, 0, 0.28) 0px 8px 28px;
    border-radius: 12px;
    padding-bottom: 15px;


    .closing-icon {
        position: absolute;
        width: 15px;
        height: 15px;
        // align-self: flex-start;
        top: 12px;
        right: 12px;

        &:hover {
            cursor: pointer;
        }
    }





    .loading-icon {
        width: 100px;
        height: 100px;
    }

    h3 {
        color: black;
    }

    p {
        margin: 10px;
    }

    span {
        font-weight: bold;
    }

    h3 {
        margin: 20px;
        align-self: center;
        justify-self: center;
    }

    .red-btn {

        background: #f72359;
        border: none;
        color: white;
        font-size: 1.2em;
        cursor: pointer;
        border-radius: 10px;
        z-index: 200;
        margin: 20px;
        width: 100%;
        height: 50px;

        &:hover {
            background-color: #f72358cc;
        }
    }

    .confirm-btn {

        // background-color: rgb(22, 235, 22);
        &:hover {
            // background-color: rgba(22, 235, 22, 0.712);
        }
    }
}